<div class="gossip">
  <h2> <%= @gossip.user.name %> </h2>
  <h4> <%= @gossip.title %> </h4>
  <p> <%= @gossip.content %> </p>
  <p class="m-2 text-warning"> Likes : <%= @gossip.likes.length %></p>
  <% if current_user %>
    <%= link_to "Liker ce comm'", likes_path(user_id: current_user, gossip_id: @gossip.id), method: :post, class: "btn btn-outline-warning p-2 mb-2" %>
  <%end%>
  <div class="gossip__actions">
    <%= link_to "Voir le profil de " + @gossip.user.name, user_path(@gossip.user.id), class: "btn btn-outline-light p-2 m-2" %>
    <%= link_to "Voir la ville de " + @gossip.user.name, city_path(@gossip.user.city.id), class: "btn btn-outline-light p-2 m-2" %>
    <% if current_user == @gossip.user %>
      <%= link_to "Editer", edit_gossip_path(@gossip.id), class: "btn btn-outline-warning p-2 m-2" %>
      <%= link_to "Supprimer", gossip_path(@gossip.id), method: :delete, class: "btn btn-outline-danger p-2 m-2" %>
    <%end%>
  </div>
</div>

<div class="text-center m-5">
  <h2> Commentaires </h2>
  <% @gossip.comments.each do|c| %>
    <p> <%= c.user.name + " | " + c.content %> </p>
    <p class="text-info"> Likes : <%= c.likes.length %></p>
  <%end%>
</div>