<section>
  <div class="card" style="width: 22rem;">
    <%= image_tag('tim.jpeg')%>
    <div class="card-body">
      <h5 class="card-title">Timothée GiMBERT</h5>
      <h6 class="card-subtitle mb-2 text-muted">Développeur principal du projet</h6>
      <a href="https://github.com/TimotheeGimbert" target="_blank" class="btn btn-primary">Voir le GitHub</a>
    </div>
  </div>
  <div class="card" style="width: 22rem;">
    <%= image_tag('xavier.png')%>
    <div class="card-body">
      <h5 class="card-title">Xavier KiNDERF</h5>
      <h6 class="card-subtitle mb-2 text-muted">Collaborateur</h6>
      <a href="https://github.com/FabCom" target="_blank" class="btn btn-primary">Voir le GitHub</a>
    </div>
  </div>
  <div class="card" style="width: 22rem;">
    <%= image_tag('gautier.png')%>
    <div class="card-body">
      <h5 class="card-title">Gautier BlONDEL</h5>
      <h6 class="card-subtitle mb-2 text-muted">Collaborateur</h6>
      <a href="https://github.com/GautierBlondel" target="_blank" class="btn btn-primary">Voir le GitHub</a>
    </div>
  </div>
  <div class="card" style="width: 22rem;">
    <%= image_tag('luis.png')%>
    <div class="card-body">
      <h5 class="card-title">Luis LoREGERES</h5>
      <h6 class="card-subtitle mb-2 text-muted">Collaborateur</h6>
      <a href="https://github.com/looping124" target="_blank" class="btn btn-primary">Voir le GitHub</a>
    </div>
  </div>
</section>

<section>  <%= link_to "ReToUr aUx PoTiNs", root_path, class:"btn btn-outline-dark" %> </section>